<h1>About Me</h1>
<div align=center>
    <img src="images/photoP.jpg" width="200px" height="200px">
</div>
<p style="text-indent: 50px;">London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over
    13 million inhabitants. Standing on the River Thames, London has been a major settlement for two millennia, its history
    going back to its founding by the Romans, who named it Londinium.</p>