<div class='nav'>
    <ul class="menuUl"> 
      <li class="menuLi"><a class="active" href="/">Abount Me</a></li>
      <li class="menuLi"><a href="/skill">Skill</a></li>
      <li class="menuLi"><a href="/contactMe">Contact Me</a></li>
      <li class="menuLi"><a href="/portfolio">Portfolio</a></li>
    </ul>
</div>