<div class="flex-container">
    <div class="center d-inline-flex">
        <img src="images/Cooler.jpg" width="30" height="30">
    </div>
    <div class="center d-inline-flex">
        My Appication
    </div>
    <div class="center d-inline-flex">
        <input type="search" placeholder="Search Product" />
    </div>
    <div class="center d-inline-flex">
        <button type="button" class="btn btn-primary">Search</button>
    </div>
    <div class="center d-inline-flex">
        <a href="">New Product</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3 photo">
        <img src="images/box1.jpg" width="150" height="150">
    </div>
    <div class="col-md-3 text">
        <li>ตะเกียงน้ำมัน</li>
        <li>ราคา 2,500</li>
    </div>
    <div class="col-md-3 photo">
        <img src="images/box2.jpg" width="150" height="150">
    </div>
    <div class="col-md-3 text">
        <p>Sed ut perspiciatis...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 photo">
        <img src="images/box3.jpg" width="150" height="150">
    </div>
    <div class="col-md-3 text">
        <p>Sed ut perspiciatis...</p>
    </div>
    <div class="col-md-3 photo">
        <img src="images/box4.jpg" width="150" height="150">
    </div>
    <div class="col-md-3 text">
        <p>Sed ut perspiciatis...</p>
    </div>
</div>