
<div class="container">
<h2>Employees Table</h2>  
<table class="table table-hover table-dark">
   <thead>
       <tr>
           <th scope="col">ID</th>
           <th scope="col">FirstName</th>
           <th scope="col">LastName</th>
           <th scope="col">salary</th>
           <th scope="col">role</th> 
       </tr>
   </thead>
   <tbody>
   <% peoples.forEach(people => { %>
       <tr>
           <td scope="row"><%= people.id %></td>
           <td scope="row"><%= people.firstname %></td>
           <td scope="row"><%= people.lastname %></td>
           <td scope="row"><%= people.salary %></td>
           <td scope="row"><%= people.role %></td>
       </tr>
   <% }); %>
</tbody>
</table>
</div>
