
<div class="container">
<h2>Employees Table</h2>  
<table class="table table-hover table-dark">
   <thead>
       <tr> 
           <th scope="col">FirstName</th>
           <th scope="col">LastName</th>
           <th scope="col">Age</th> 
       </tr>
   </thead>
   <tbody>
   <% employees.forEach(emp => { %>
       <tr> 
           <td scope="row"><%= emp.firstname %></td>
           <td scope="row"><%= emp.lastname %></td>
           <td scope="row"><%= emp.age %></td> 
       </tr>
   <% }); %>
</tbody>
</table>

<h2>Books Table</h2>  
<table class="table table-hover table-dark">
   <thead>
       <tr> 
           <th scope="col">ISBN</th>
           <th scope="col">Title</th>
           <th scope="col">Price</th> 
       </tr>
   </thead>
   <tbody>
   <% books.forEach(book => { %>
       <tr> 
           <td scope="row"><%= book.isbn %></td>
           <td scope="row"><%= book.title %></td>
           <td scope="row"><%= book.price %></td> 
       </tr>
   <% }); %>
</tbody>
</table>
</div>
