
<div class="container">
<h2>instructors Table</h2>  
<table class="table table-hover table-dark">
   <thead>
       <tr> 
           <th scope="col">instructors_name</th>
           <th scope="col">courses_name</th> 
       </tr>
   </thead>
   <tbody>
   <% instructors.forEach(instructor => { %>
       <tr> 
           <td scope="row"><%= instructor.instructors_name %></td>
           <td scope="row"><%= instructor.name %></td> 
       </tr>
   <% }); %>
</tbody>
</table>

<h2>courses Table</h2>  
<table class="table table-hover table-dark">
   <thead>
       <tr> 
           <th scope="col">courses_name</th>
           <th scope="col">instructors_name</th> 
       </tr>
   </thead>
   <tbody>
   <% courses.forEach(course => { %>
       <tr> 
           <td scope="row"><%= course.name %></td>
           <td scope="row"><%= course.instructors_name %></td> 
       </tr>
   <% }); %>
</tbody>
</table>
</div>
