
<div class="container">
<h2>price Table</h2>  
<table class="table table-hover table-dark">
   <thead>
       <tr> 
           <th scope="col">courses_name</th>
           <th scope="col">price</th>
           <th scope="col">count_std</th>
           <th scope="col">total_price</th> 
       </tr>
   </thead>
   <tbody>
   <% prices.forEach(price => { %>
       <tr> 
       <td scope="row"><%= price.name %></td>
       <td scope="row"><%= price.price %></td>
           <td scope="row"><%= price.count_std %></td>
           <td scope="row"><%= price.total_price %></td> 
       </tr>
   <% }); %>
</tbody>
</table> 

<h2>students Table</h2>  
<table class="table table-hover table-dark">
   <thead>
       <tr> 
           <th scope="col">courses_name</th> 
           <th scope="col">total_price</th> 
       </tr>
   </thead>
   <tbody>
   <% students.forEach(student => { %>
       <tr> 
       <td scope="row"><%= student.name %></td> 
           <td scope="row"><%= student.total_price %></td> 
       </tr>
   <% }); %>
</tbody>
</table> 
</div>
