
<div class="container"> 
<h2>instructors Table</h2>  
<table class="table table-dark">
   <thead>
       <tr> 
           <th scope="col">instructors_id</th>
           <th scope="col">instructors_name</th> 
       </tr>
   </thead>
   <tbody>

   <% instructors.forEach(instructor => { %>        
       <tr> 
           <td scope="row"><%= instructor.id %></td>
           <td scope="row"><%= instructor.name %></td> 
       </tr>
   <% }); %>
</tbody>
</table>
</div>
