h1 {
    color:darkblue;
    text-align:center;
}

.photo {
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: 20px;
}

.text {
    width: 150px;
    height: 200px;
    padding: 20px;
}

.flex-container {
    display: flex;
    border: 3px solid #73AD21;
    width: 800px;
    border-radius: 15px;
    margin-left: 20px; 
    margin-top: 20px;
}

.flex-container>div {
    margin: 5px;
    line-height: 20px;
    font-size: 15px;
}

.center {
    padding: 5px 0;
    text-align: center;
}
 


ul.menuUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menuLi {
    float: left;
}

li.menuLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menuLi a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}